fieldset[disabled] .btn-warning.active {
  background-color: #b1c010; /*#f0ad4e;*/
  border: 0px;
  /*border-color: #eea236;*/
}

.label-warning {
  background-color: #b1c010; /*#f0ad4e;*/
  border: 0px;
}

.btn-warning {
  color: #fff;
  background-color: #b1c010; /*#f0ad4e;*/
  border: 0px;
  /*border-color: #eea236;*/
}

fieldset[disabled] .btn-info.active {
  background-color: #c0ce13; 
  /*border-color: #eea236;*/
  border: 0px;
}

.label-info {
  background-color: #c0ce13; 
  border: 0px;
}

.btn-info {
  color: #fff;
  background-color: #c0ce13; 
  border: 0px;
  /*border-color: #eea236;*/
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #c0ce13; 
  border: 0px;
  /*border-color: #269abc;*/
}
@media only screen and (max-width: 992px){
  
  #RDDlogo {
    margin-left: 0 px !important;
  }
  #RDwelcome {
    display: none !important;
  }
}

@media only screen and (min-width: 992px){
  
  #RDDlogo {
    margin-left: 14 px !important;
  }
  #RDwelcome {
    width: 60.66%;
  }
}

#RDwelcome {
  border-bottom: 1px solid #e1e1e1;
  margin-top: -15px;
  float: right;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  height:130px;
  background-image:-webkit-linear-gradient(bottom, rgba(0,0,0,.07) 0%, rgba(255,255,255,.07) 94.8%, rgba(255,255,255,.07) 100%);border-radius:5px;
}

#RDDlogo {
    padding-left:0px;
}